In [2]:
import pandas as pd
df=pd.read_csv('tel_churn.csv')

In [3]:
df

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,new_tenure_1 - 12,new_tenure_13 - 24,new_tenure_25 - 36,new_tenure_37 - 48,new_tenure_49 - 60,new_tenure_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,7038,0,84.80,1990.50,0,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,7039,0,103.20,7362.90,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,7040,0,29.60,346.45,0,1,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
7030,7041,1,74.40,306.60,1,0,1,0,1,1,...,0,0,0,1,1,0,0,0,0,0
7031,7042,0,105.65,6844.50,0,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,1

In [5]:
df=df.drop('Unnamed: 0',axis=1)

In [6]:
x=df.drop(['Churn'],axis=1)

In [7]:
y=df['Churn']

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [12]:
#decision tree classifier
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion="gini")

In [13]:
DT_model=model.fit(x_train,y_train)

In [14]:
y_pred=DT_model.predict(x_test)

In [15]:
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [19]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [20]:
print(confusion_matrix(y_test,y_pred))

[[866 193]
 [166 182]]

In [22]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.84      0.82      0.83      1059
           1       0.49      0.52      0.50       348

    accuracy                           0.74      1407
   macro avg       0.66      0.67      0.67      1407
weighted avg       0.75      0.74      0.75      1407

In [23]:
from sklearn.linear_model import LogisticRegression

In [24]:
lm=LogisticRegression()

In [27]:
model1=lm.fit(x_train,y_train)

In [29]:
y_pred1=model1.predict(x_test)

In [30]:
y_pred1,y_test

(array([0, 0, 0, ..., 0, 1, 0], dtype=int64),
 894     0
 317     1
 1173    0
 5974    0
 6976    0
        ..
 2261    0
 6216    0
 5255    0
 6240    0
 5632    0
 Name: Churn, Length: 1407, dtype: int64)

In [31]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [32]:
print(confusion_matrix(y_test,y_pred1))
print(classification_report(y_test,y_pred))

[[955 104]
 [153 195]]
              precision    recall  f1-score   support

           0       0.84      0.82      0.83      1059
           1       0.49      0.52      0.50       348

    accuracy                           0.74      1407
   macro avg       0.66      0.67      0.67      1407
weighted avg       0.75      0.74      0.75      1407

In [33]:
import pickle
filename='model.save'
pickle.dump(model1,open(filename,'wb'))

In [35]:
load_model=pickle.load(open(filename,'rb'))

In [36]:
load_model.score(x_test,y_test)

0.8173418621179815